.haikufirstline {
	font-family: courier;
	font-size: 55px;
	text-align: center;
	color:red;	
	top:20%;
	position:absolute;
	left:50%;
}

body {
	background: black;
}

.haikusecondline {
	font-family: times;
	font-size: 55px;
	text-align: center;
	color:blue;	
	top:40%;
	position:absolute;
	left:50%;
}
.haikuthirdline {
	font-family: georgia;
	font-size: 55px;
	text-align: center;
	color:yellow;	
	top:60%;
	position:absolute;
	left:50%;
}